<launch>
    <!-- Run AMCL for localization -->
    <arg name="custom_amcl_launch_file" default="$(find ashwini)/launch/amcl.launch"/>
    
    <include file="$(arg custom_amcl_launch_file)">
    </include>
    
    <!-- Start RViz with a default configuration -->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false"
          args="-d $(find ashwini)/default.rviz"/>
</launch>
