<?xml version="1.0"?>
<launch>

    <node pkg="gmapping" type="slam_gmapping" name="maping_node">
        <param name="base_frame" value="base_link" />
        <param name="odom_frame" value="odom" />
        <param name="delta" value="0.1" />
    </node>

    <node pkg="move_base" type="move_base" name="Base_move" output="screen">
        <param name="controller_frequency" value="10.0" />
        <rosparam file="$(find ashwini)/config/trajectory_planner.yaml" command="load" />
        <rosparam file="$(find ashwini)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find ashwini)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find ashwini)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find ashwini)/config/global_costmap_params.yaml" command="load" />
    </node>

</launch>